// ANIMATIONS

@keyframes fadeOut
    99%
        opacity 0
    100%
        opacity 0
        width 0
        
@keyframes flashCorrect
    30%
        color $questionColorCorrect
    50%
        color $questionColorCorrect
    60%
        color $questionColor
        

@keyframes flashIncorrect
    30%
        color $questionColorIncorrect
    50%
        color $questionColorIncorrect
    60%
        color $questionColor
        

@keyframes flameOne
    0%
        opacity 1
    30%
        opacity 0
    60%
        opacity 1
    90%
        opacity 0
    100%
        opacity 1
        
@keyframes flameTwo
    0%
        opacity 0
    30%
        opacity 1
    60%
        opacity 0
    90%
        opacity 1
    100%
        opacity 0