/********************
FULLSCREEN MENU WRAPPER 
********************/   
    
.fullscreenMenuWrapper
    flexCenter()
    flex-direction column
    position absolute
    padding 10%
    top 0
    bottom 0
    left 0
    right 0
    background rgba(0,0,0,0.8)
    z-index 100

.fullscreenMenu
    flexCenter()
    flex-direction column
    background #050b19
    min-height 500px
    width 50%
    height 100%
    border-radius 20px
    letter-spacing 1.4px

.restartGame
    position absolute

.fullscreenMenu button, .restartGame
    margin 20px
    padding 10px
    background #EFA53D
    border 2px solid #F95200
    border-radius 20px
    font-weight 600
    
.fullscreenMenu button:hover
    background #EC7D13
    border 2px solid #B25102

.victoryWrapper, .fullscreenMenuWrapper.victory
    background none
    
.victoryWrapper
    justify-content flex-end
    
.launcherWrapper 
    line-height 1.8rem
    letter-spacing 0.2rem
    
.launcherWrapper select
    background #EFA53D
    border 2px solid #F95200
    padding 0.5rem 1rem
    border-radius 20px
    font-weight 600
    
.launcherWrapper select:focus, .fullscreenMenu button:focus, .restartGame:focus
    outline none
    box-shadow 0 0 0 2pt red

.menuHide
    display none