html
    font-family $openSans
    
section
	flexCenter()
	width $full
	
.gameGrid
	flexCenter()
	padding-top 1rem
	margin 0 auto
	flex-wrap wrap
	width 800px
	
.gameTile
	flexCenter()
	width calc(200px - 20px)
	height 270px
	background brown
	margin 10px
	padding 1rem
	box-shadow 0px 0px 20px 0px rgba(100,100,100,0.4)
	cursor pointer
	
.faceUp 
	background goldenrod
	
.matched
	background green