html
    font-family $openSans
    
body 
    background url('../images/moon_corner_body_01.png') #05060a
    font-family: 'Orbitron', sans-serif;
    background-repeat no-repeat
    color #FFFFFF
    
.container 
    flexCenter()
    width 100%
    height 100vh
    
.wrapper
    width $wrapperWidth
    height $wrapperHeight
    background url('../images/glare_03.png') #050b19
    border-radius 20px
    background-size contain
    background-position left center
    background-repeat no-repeat 

section
    flexCenter()
    width $full
    
.game
    flexCenter()
    justify-content space-between