/********************
MEDIA QUERIES
********************/

@media (max-width: 1200px)
        
    .game
        direction rtl
        
    .game > *
        direction ltr
        
    .wrapper
        width 100%
        height 100vh
        background none
        
    .fullscreenMenuWrapper
        padding 0
        
    .fullscreenMenu
        border-radius 0
        
    .controlsWrapper
        position absolute
        width 100%
        height 100vh
        z-index 10
        left 50%
        transform translateX(-50%)
        padding-top 0
        padding-bottom 0
        justify-content space-between
        
    // 202 / 689 * 100 = 29.3178% 
    // imageHeight / imageWidth = paddingHeight
    .questionWrapper
        position initial
        background url('../images/responsive_expression_window_03.png')
        background-repeat no-repeat
        background-position center center
        background-size contain
        width 80%
        height 29.3178%
        z-index 5
        padding-top 20px
    
    .timerWrapper
        flexCenter()
        position initial
        height auto

    .spaceWrapper
        width 100%
        height 100vh
        margin 0
        border-radius 0
        border none
        
    .spaceWrapper.moonLanding
        margin-left 0
    
    .buttonWrapper
        justify-content space-between
        padding 0 30px
        
    .fuelWrapper
        width 70%
        
    .grass
        display flex
        justify-content center
        width 150vw
        svg
            // width 150vw
            height 100px
        
@media (max-width: 480px)      
        
    .questionWrapper
        background-position center top
        justify-content flex-start
        width 100%
        
    .question
        font-size 30px
        
    .mediumQuestion
        font-size 18px
        
    .largeQuestion
        font-size 15px
        
    .clock
        font-size 25px
        
    .buttonWrapper
        padding 0
        
    .buttonWrapper button
        font-size 18px
        width 80px
        height 80px
        background-size contain
        
    .fuel
        font-size 20px