//======================================
//=              COLOURS               =
//======================================

$questionColor = #000;
$questionColorCorrect = green;
$questionColorIncorrect = red;


//======================================
//=              LAYOUT                =
//======================================

$wrapperWidth = 1400px
$wrapperHeight = 800px

//======================================
//=      FONTS AND HEADING SIZES       =
//======================================

// Used for most paragraphs and other large bodies of text
$openSans = 'Open Sans', sans-serif

// Used for Headers
$raleway = 'Raleway', sans-serif