@import "partials/_normalize"
@import "partials/_variables"
@import "partials/_mixins"
@import "partials/_main"
@import "partials/_fullscreenMenu"
@import "partials/_gameControls"
@import "partials/_spaceWindow"
@import "partials/_animations"
@import "partials/_mediaQueries"