html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
* {
  box-sizing: border-box;
}
header {
  backgorund-color: #a52a2a;
}
html {
  font-family: 'Open Sans', sans-serif;
}
body {
  background: url("../images/moon_corner_body_01.png") #05060a;
  font-family: 'Orbitron', sans-serif;
  background-repeat: no-repeat;
  color: #fff;
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
}
.wrapper {
  width: 1400px;
  height: 800px;
  background: url("../images/glare_03.png") #050b19;
  border-radius: 20px;
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: $full;
}
.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.fullscreenMenuWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  padding: 10%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.8);
  z-index: 100;
}
.fullscreenMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #050b19;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.victoryWrapper,
.fullscreenMenuWrapper.victory {
  background: none;
}
.menuHide {
  display: none;
}
.controlsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  opacity: 1;
  -webkit-transition: 1s opacity ease;
  transition: 1s opacity ease;
}
.controlsWrapper.moonLanding {
  -webkit-animation: 0.4s linear 0s fadeOut forwards;
          animation: 0.4s linear 0s fadeOut forwards;
}
.questionWrapper {
  background: url("../images/expression_window_03.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 740px;
  height: 320px;
}
.question {
  margin: 0;
  height: 2rem;
  font-size: 40px;
}
.mediumQuestion {
  font-size: 20px;
}
.largeQuestion {
  font-size: 25px;
}
.timerWrapper {
  position: relative;
  top: 100px;
  left: 60px;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
}
.timer {
  width: 30%;
}
.buttonWrapper {
  width: 100%;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.buttonWrapper button {
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(0,0,0,0.5);
  width: 156px;
  height: 156px;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  outline: none;
  border: none;
}
button.true {
  background: url("../images/true_button_03.png");
  background-repeat: no-repeat;
  margin-right: 10px;
}
button.false {
  background: url("../images/false_button_03.png");
  background-repeat: no-repeat;
}
.fuelWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  color: #fff;
}
.fuelInfoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 5px;
  text-shadow: 2px 2px rgba(0,0,0,0.5);
}
.fuel {
  width: 50%;
  padding-bottom: 10px;
  text-align: right;
}
.errors {
  width: 50%;
}
.fuelGaugeWrapper {
  position: relative;
  width: 100%;
  padding-top: 16.1993%;
  height: 0;
  z-index: 5;
}
.fuelGaugeFiller {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background: -webkit-linear-gradient(bottom, #536db8, #fff);
  background: linear-gradient(0deg, #536db8, #fff);
  border-radius: 60px;
  z-index: 2;
}
.fuelGaugeFillerReserve {
  position: absolute;
  width: 15%;
  left: 0;
  top: 0;
  bottom: 0;
  background: -webkit-linear-gradient(bottom, #a52a2a, #fff);
  background: linear-gradient(0deg, #a52a2a, #fff);
  border-radius: 50px;
  z-index: 3;
}
.fuelInnerWrapper {
  position: absolute;
  margin: 2%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.fuelGaugeFillerCover {
  position: absolute;
  background: #050b19;
  -webkit-transition: 0.5s width ease;
  transition: 0.5s width ease;
  right: 1%;
  top: 0;
  bottom: 0;
  z-index: 4;
}
.fuelGaugeFrame {
  position: absolute;
  background: url("../images/fuel_bar_03.png");
  background-size: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
}
.spaceWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px;
  margin-left: 0;
  border: 10px solid #536db8;
  border-radius: 20px;
  width: 35%;
  height: 750px;
  background: url("../images/space.jpg") #000;
  background-position: center 100%;
  -webkit-transition: 1s background-position ease;
  transition: 1s background-position ease;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.spaceWrapper.moonLanding {
  width: 100%;
  margin-left: 25px;
}
.rocket {
  -webkit-transition: 2s all ease;
  transition: 2s all ease;
  position: absolute;
  height: 350px;
}
.rocket svg {
  height: 350px;
  width: 200px;
}
.rocket.earth {
  bottom: 0;
}
.rocket.space {
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
.rocket.moonLanding {
  top: 1%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
#flameOne {
  opacity: 1;
  -webkit-animation: 0.4s ease-in-out 0s flameOne infinite;
          animation: 0.4s ease-in-out 0s flameOne infinite;
}
#flameTwo {
  opacity: 0;
  -webkit-animation: 0.4s ease-in-out 0s flameTwo infinite;
          animation: 0.4s ease-in-out 0s flameTwo infinite;
}
.flamesOff {
  display: none;
}
.moon {
  -webkit-transition: 1.2s all ease;
  transition: 1.2s all ease;
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.moon svg {
  height: 600px;
  width: 600px;
}
.moon.hide {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}
.grass {
  -webkit-transition: 1.2s all ease;
  transition: 1.2s all ease;
  position: absolute;
  bottom: -10px;
}
.grass svg {
  min-width: 100%;
  height: 100px;
  width: 1400px;
}
.grass.hide {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.question {
  color: #000;
}
.question .value {
  font-weight: 600;
}
.question .comparisonOperator {
  font-weight: 600;
  color: #000;
}
.question .logicOperator {
  font-weight: 600;
  color: #000;
}
.question.correct > * {
  -webkit-animation: 0.4s linear 0s flashCorrect;
          animation: 0.4s linear 0s flashCorrect;
}
.question.incorrect > * {
  -webkit-animation: 0.4s linear 0s flashIncorrect;
          animation: 0.4s linear 0s flashIncorrect;
}
@media (max-width: 1200px) {
  body {
    background: #ffc0cb;
  }
  .game {
    direction: rtl;
  }
  .game > * {
    direction: ltr;
  }
  .wrapper {
    width: 100%;
    height: 100vh;
    background: none;
  }
  .controlsWrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .fullscreenMenuWrapper {
    padding: 0;
  }
  .fullscreenMenu {
    border-radius: 0;
  }
  .questionWrapper {
    position: initial;
    background: url("../images/responsive_expression_window_03.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 80%;
    height: 29.3178%;
    z-index: 5;
    padding-top: 20px;
  }
  .timerWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: initial;
    height: auto;
  }
  .spaceWrapper {
    width: 100%;
    height: 100vh;
    margin: 0;
    border-radius: 0;
    border: none;
  }
  .spaceWrapper.moonLanding {
    margin-left: 0;
  }
  .buttonWrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .fuelWrapper {
    width: 70%;
  }
  .grass {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 150vw;
  }
  .grass svg {
    height: 100px;
  }
}
@media (max-width: 480px) {
  .buttonWrapper {
    padding: 0;
  }
  .buttonWrapper button {
    font-size: 18px;
    width: 80px;
    height: 80px;
    background-size: contain;
  }
  .questionWrapper {
    background-position: center top;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  .fuel {
    font-size: 20px;
  }
  .clock {
    font-size: 25px;
  }
  .question {
    font-size: 30px;
  }
  .mediumQuestion {
    font-size: 18px;
  }
  .largeQuestion {
    font-size: 15px;
  }
}
@-webkit-keyframes fadeOut {
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
@keyframes fadeOut {
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
@-webkit-keyframes flashCorrect {
  30% {
    color: #008000;
  }
  50% {
    color: #008000;
  }
  60% {
    color: #000;
  }
}
@keyframes flashCorrect {
  30% {
    color: #008000;
  }
  50% {
    color: #008000;
  }
  60% {
    color: #000;
  }
}
@-webkit-keyframes flashIncorrect {
  30% {
    color: #f00;
  }
  50% {
    color: #f00;
  }
  60% {
    color: #000;
  }
}
@keyframes flashIncorrect {
  30% {
    color: #f00;
  }
  50% {
    color: #f00;
  }
  60% {
    color: #000;
  }
}
@-webkit-keyframes flameOne {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flameOne {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flameTwo {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes flameTwo {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
footer {
  backgorund-color: #a52a2a;
}
